:root {
    --primary-text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --primary-white-color: #FFFFFF;
    --btn-bg-color: #F5F4FA;
}


body {
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
letter-spacing: 0.03em;
}

/* логотип */
.logo {
    color: var(--logo-color);
    font-family: 'Raleway';
}
.logo-web {
    color: var(--accent-color);
}
.logo,
.logo-web{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

/* навигация сайта */
.navigation .link {
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.navigation .link:hover,
.navigation .link:focus {
    color: var(--accent-color);
}
.navigation .link.current {
    color: var(--accent-color);
}
/* контакти */
.contacts .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus {
color: var(--accent-color);
}
/* button */
.button.main {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.button.last {
color: var(--title-color);
background-color: var(--btn-bg-color);
}
.button.last:hover,
.button.last:focus {
color: var(--primary-white-color);
background-color: var(--accent-color);
}
/* Особенности */
.features .title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.features .text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
/* Чем мы занимаемся */
.working .title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
/* Наша команда */
.team .title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.team .name {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;    
}
.team .position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;    
}
/* портфолио */
.portfolio .project{
    color: var(--title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2; 
    letter-spacing: 0.06em;
}
.portfolio .desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}



